<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
  <h1>Chào mừng <%= email %></h1>
  <div id="dashboard"></div> <!-- nơi hiển thị nội dung từ API -->

  <script src="/static/js/admin.js"></script>

</body>
</html>
